@model GrupoMuscularViewModel

<div class="form-group">
    <label asp-for="Descricao" class="control-label"></label>
    <input asp-for="Descricao" class="form-control" disabled />
</div>
<div class="custom-control custom-switch mt-4">
    <input asp-for="Ativo" type="checkbox" class="custom-control-input" id="cbxAtivoGrupMuscularDetails" disabled />
    <label class="custom-control-label" for="cbxAtivoGrupMuscularDetails">Ativo</label>
</div>