@model GrupoMuscularViewModel

@{
    ViewData["Title"] = "Adicionar Grupo Muscular";
}

<form asp-action="Create">
    <div class="container-toolbar tb-top">
        <h6 class="title">@ViewData["Title"]</h6>
        <div class="toolbar">
            <button type="submit" class="tb-button"><i class="fa fa-cloud"></i><br />gravar</button>
            <a asp-action="Index" class="tb-button"><i class="fa fa-chevron-left"></i><br />voltar</a>
        </div>
    </div>
    <div class="container-body">
        <vc:summary></vc:summary>
        <div class="card card-default">
            <div class="card-default-header">Novo Grupo Muscular</div>
            <div class="card-default-body">
                <div class="form-group">
                    <label asp-for="Descricao" class="control-label"></label>
                    <input asp-for="Descricao" class="form-control" />
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="container-toolbar tb-bottom">
        <div class="toolbar">
            <button type="submit" class="tb-button"><i class="fa fa-cloud"></i><br />gravar</button>
            <a asp-action="Index" class="tb-button"><i class="fa fa-chevron-left"></i><br />voltar</a>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}