@model ProfissionalViewModel

<div class="form-group">
    <label asp-for="Nome" class="control-label"></label>
    <input asp-for="Nome" class="form-control" disabled />
</div>
<div class="form-group">
    <label asp-for="Documento" class="control-label"></label>
    <input asp-for="Documento" class="form-control" disabled />
</div>
<div class="form-group">
    <label asp-for="Especialidade" class="control-label"></label>
    <input asp-for="Especialidade" class="form-control" disabled />
</div>
<div class="custom-control custom-switch mt-4">
    <input asp-for="Ativo" type="checkbox" class="custom-control-input" id="cbxAtivoProfissionalDetails" disabled />
    <label asp-for="Ativo" class="custom-control-label" for="cbxAtivoProfissionalDetails"></label>
</div>