@model DiarioPacienteViewModel

<div class="form-group">
    <label asp-for="PacienteId" class="control-label"></label>
    <input asp-for="Paciente.Nome" class="form-control" disabled />
</div>
<div class="form-group">
    <label asp-for="TreinoId" class="control-label"></label>
    <input asp-for="Treino.Titulo" class="form-control" disabled />
</div>
<div class="form-group">
    <label asp-for="Peso" class="control-label"></label>
    <input asp-for="Peso" class="form-control" disabled />
</div>
<div class="form-group">
    <label asp-for="Observacao" class="control-label"></label>
    <textarea asp-for="Observacao" rows="3" class="form-control" disabled></textarea>
</div>
<div class="form-group">
    <label asp-for="DataCadastro" class="control-label"></label>
    <input asp-for="DataCadastro" class="form-control" disabled />
</div>