<div class="nav-side-menu">
    <ul id="menu-content" class="menu-content collapse out">
        <li id="dashboard"><a asp-controller="Home" asp-action="Dashboard"><div><i class="fa fa-tachometer-alt fa-lg"></i> Dashboard</div></a></li>

        <li data-toggle="collapse" data-target="#pessoas" class="collapsed">
            <a href="#"><i class="fa fa-users fa-lg"></i> Pessoas <span class="arrow"></span></a>
        </li>
        <ul class="sub-menu collapse" id="pessoas">
            <li id="profissionais"><a asp-controller="Profissionais" asp-action="Index"><div>Profissionais</div></a></li>
            <li id="pacientes"><a asp-controller="Pacientes" asp-action="Index"><div>Pacientes</div></a></li>
        </ul>

        <li id="atendimentos"><a asp-controller="Atendimentos" asp-action="Index"><div><i class="fa fa-stethoscope fa-lg"></i> Atendimentos</div></a></li>

        <li id="bioimpedancias"><a asp-controller="BioImpedancias" asp-action="Index"><div><i class="fa fa-heartbeat fa-lg"></i> Bioimpedâncias</div></a></li>

        <li id="dietas"><a asp-controller="Dietas" asp-action="Index"><div><i class="fa fa-utensils fa-lg"></i> Dietas</div></a></li>

        <li id="diarioPaciente"><a asp-controller="DiariosPacientes" asp-action="Index"><div><i class="fa fa-calendar-check fa-lg"></i> Diário do Paciente</div></a></li>

        <li id="planosTreinos"><a asp-controller="PlanosTreinos" asp-action="Index"><div><i class="fa fa-fire-alt fa-lg"></i> Planos de Treinos</div></a></li>

        <li id="alimentos"><a asp-controller="Alimentos" asp-action="Index"><div><i class="fa fa-hamburger fa-lg"></i> Alimentos</div></a></li>

        <li id="catalogoExercicios"><a asp-controller="CatalogoExercicios" asp-action="Index"><div><i class="fa fa-dumbbell fa-lg"></i> Catálogo de Exercícios</div></a></li>

        <li data-toggle="collapse" data-target="#cadastrosBasicos" class="collapsed">
            <a href="#"><i class="fa fa-cubes fa-lg"></i> Cadastros Básicos <span class="arrow"></span></a>
        </li>
        <ul class="sub-menu collapse" id="cadastrosBasicos">
            <li id="refeicoes"><a asp-controller="Refeicoes" asp-action="Index"><div>Refeições</div></a></li>
            <li id="unidadesmedidas"><a asp-controller="UnidadesMedidas" asp-action="Index"><div>Unidades de Medidas</div></a></li>
            <li id="gruposalimentos"><a asp-controller="GruposAlimentos" asp-action="Index"><div>Grupos de Alimentos</div></a></li>
            <li id="gruposmusculares"><a asp-controller="GruposMusculares" asp-action="Index"><div>Grupos Musculares</div></a></li>
        </ul>

        <li id="privacidade">
            <div class="menu-footer">
                <a asp-controller="Home" asp-action="Privacy" class="text-decoration-none text-warning"><div>Privacidade</div></a>
            </div>
        </li>
        <li id="sobre">
            <div class="menu-footer">
                <a asp-controller="Home" asp-action="About" class="text-decoration-none text-warning"><div>Sobre</div></a>
            </div>
        </li>
    </ul>
</div>