@model AlimentoViewModel

<div class="form-group">
    <label asp-for="Descricao" class="control-label"></label>
    <input asp-for="Descricao" class="form-control" disabled />
</div>
<div class="form-group">
    <label asp-for="Carboidratos" class="control-label"></label>
    <input asp-for="Carboidratos" class="form-control" disabled />
</div>
<div class="form-group">
    <label asp-for="Proteinas" class="control-label"></label>
    <input asp-for="Proteinas" class="form-control" disabled />
</div>
<div class="form-group">
    <label asp-for="Gorduras" class="control-label"></label>
    <input asp-for="Gorduras" class="form-control" disabled />
</div>
<div class="form-group">
    <label asp-for="Calorias" class="control-label"></label>
    <input asp-for="Calorias" class="form-control" disabled />
</div>
<div class="form-group">
    <label asp-for="Porcao" class="control-label"></label>
    <input asp-for="Porcao" class="form-control" disabled />
</div>
<div class="form-group">
    <label asp-for="UnidadeMedidaId" class="control-label"></label>
    <input asp-for="UnidadeMedida.Descricao" class="form-control" disabled />
</div>
<div class="form-group">
    <label asp-for="GrupoAlimentoId" class="control-label"></label>
    <input asp-for="GrupoAlimento.Descricao" class="form-control" disabled />
</div>

