@model BioImpedanciaViewModel

<div class="form-group">
    <label asp-for="Paciente.Nome" class="control-label"></label>
    <input asp-for="Paciente.Nome" class="form-control" disabled />
</div>
<div class="form-group">
    <label asp-for="AguaCorporal" class="control-label"></label>
    <input asp-for="AguaCorporal" class="form-control" disabled />
</div>
<div class="form-group">
    <label asp-for="GorduraCorporal" class="control-label"></label>
    <input asp-for="GorduraCorporal" class="form-control" disabled />
</div>
<div class="form-group">
    <label asp-for="Proteinas" class="control-label"></label>
    <input asp-for="Proteinas" class="form-control" disabled />
</div>
<div class="form-group">
    <label asp-for="Minerais" class="control-label"></label>
    <input asp-for="Minerais" class="form-control" disabled />
</div>
<div class="form-group">
    <label asp-for="TaxaMetabolicaBasal" class="control-label"></label>
    <input asp-for="TaxaMetabolicaBasal" class="form-control" disabled />
</div>
<div class="form-group">
    <label asp-for="DataCadastro" class="control-label"></label>
    <input asp-for="DataCadastro" class="form-control" disabled />
</div>