@model Bio.App.ViewModels.UnidadeMedidaViewModel

@{
    ViewData["Title"] = "Remover Unidade de Medida";
}

<div class="container-toolbar tb-top">
    <h6 class="title text-danger">@ViewData["Title"]</h6>
    <div class="toolbar">
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="tb-button"><i class="fa fa-trash"></i><br />remover</button>
        </form>
        <a href="javascript:window.history.back();" class="tb-button"><i class="fa fa-chevron-left"></i><br />voltar</a>
    </div>
</div>
<div class="container-body">
    <vc:summary></vc:summary>
    <div class="card card-default">
        <div class="card-default-header text-danger">Tem certeza que deseja remover esta unidade de medida?</div>
        <div class="card-default-body">
            <partial name="_Detalhes" />
        </div>
    </div>
</div>
<div class="container-toolbar tb-bottom">
    <div class="toolbar">
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="tb-button"><i class="fa fa-trash"></i><br />remover</button>
        </form>
        <a href="javascript:window.history.back();" class="tb-button"><i class="fa fa-chevron-left"></i><br />voltar</a>
    </div>
</div>
