@model DietaViewModel

@{
    ViewData["Title"] = "Editar Dieta";
}

<form asp-action="Edit">
    <div class="container-toolbar tb-top">
        <h6 class="title">@ViewData["Title"]</h6>
        <div class="toolbar">
            <button type="submit" class="tb-button"><i class="fa fa-redo-alt"></i><br />atualizar</button>
            <a asp-action="AdicionarRefeicao" asp-route-id="@Model.Id" class="tb-button" data-modal><i class="fa fa-plus"></i><br />refeição</a>
            <a href="javascript:window.history.back();" class="tb-button"><i class="fa fa-chevron-left"></i><br />voltar</a>
        </div>
    </div>
    <div class="container-body">
        <vc:summary></vc:summary>
        <div class="card card-default">
            <div class="card-default-header">Editar Dieta</div>
            <div class="card-default-body">
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Atendimento.PacienteId" class="control-label"></label>
                    <input asp-for="Atendimento.Paciente.Nome" class="form-control" disabled />
                </div>
                <div class="form-group">
                    <label asp-for="Atendimento.ProfissionalId" class="control-label"></label>
                    <input asp-for="Atendimento.Profissional.Nome" class="form-control" disabled />
                </div>
                <div class="form-group">
                    <label asp-for="TaxaMetabolicaBasal" class="control-label"></label>
                    <input asp-for="TaxaMetabolicaBasal" class="form-control" />
                    <span asp-validation-for="TaxaMetabolicaBasal" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Observacao" class="control-label"></label>
                    <textarea asp-for="Observacao" rows="3" class="form-control"></textarea>
                    <span asp-validation-for="Observacao" class="text-danger"></span>
                </div>
                <div class="custom-control custom-switch mt-4">
                    <input asp-for="Ativo" type="checkbox" class="custom-control-input" id="cbxAtivoDietaEdit" />
                    <label class="custom-control-label" for="cbxAtivoDietaEdit">Ativa</label>
                </div>
            </div>
        </div>
        <div class="mt-4">
            <div id="ElementTarget">
                <partial name="_Refeicoes" />
            </div>
        </div>
    </div>
    <div class="container-toolbar tb-bottom">
        <div class="toolbar">
            <button type="submit" class="tb-button"><i class="fa fa-redo-alt"></i><br />atualizar</button>
            <a asp-action="AdicionarRefeicao" asp-route-id="@Model.Id" class="tb-button" data-modal><i class="fa fa-plus"></i><br />refeição</a>
            <a href="javascript:window.history.back();" class="tb-button"><i class="fa fa-chevron-left"></i><br />voltar</a>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
