@model TreinoViewModel
@{
    ViewData["Title"] = "Detalhes do Treino";
}

<div class="modal-header">@ViewData["Title"]</div>
<div class="modal-body">
    <partial name="_Treino" />
    <hr />
    <h6 class="text-secondary">Exercícios</h6>
    <partial name="_Exercicios" />
</div>
<div class="modal-footer">
    <input type="button" class="btn btn-dark" value="Fechar" data-dismiss="modal" />
</div>
